main {
    width: fit-content;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

select, input {
    width: fit-content;
}

.comment {
    float: right;
    border: solid 0.5px;
    width: 300px;
    height: 100px;
}

table.minimalist {
    border: 3px solid #000000;
    width: 100%;
    border-collapse: collapse;
}

table.minimalist td, table.minimalist th {
    border: 1px solid #000000;
    padding: 5px 4px;
}
table.minimalist tbody td {
    font-size: 13px;
}
table.minimalist thead {
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    border-bottom: 3px solid #000000;
}
table.minimalist thead th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
}
table.minimalist tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    border-top: 3px solid #000000;
}
table.minimalist tfoot td {
    font-size: 14px;
}

thead tr td {
    font-weight: bold;
}

.centered-column {
    text-align: center;
}

#addNewBtn {
    width: 100px;
}

.text-button {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #000;
    background: #eee;
    border-radius: 5px;
}

.text-input-table {
    min-height: 50px;
    max-height: 100px;
    min-width: 250px;
    max-width: 500px;
    resize: both;
}

a {
    text-decoration: underline;
    color: inherit;
}

a:visited {
    text-decoration: underline;
    color: inherit;
}


.button-like-link, .button-link {
    height: fit-content;
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #007bff80; 
    text-decoration: none; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.button-link:hover, .button-like-link:hover {
    background-color: #0056b3; 
    color: #fff;
}


.button-link:active, .button-like-link:active {
    background-color: #0056b3; 
}

.navbar-inverse {
    border-radius: 0px !important;
}