{% extends "main.jinja2"%}
{% block content %}

<h4>Manage Followers</h4>
    
    <table class="minimalist">
    <thead>
        <tr>

            {% for key in followers[0].keys() %}

                <th>{{key}}</th>

            {% endfor %}
            
        </tr>
    </thead>
    <tbody>
        {% for follower in followers %}

        <tr>

            {% for key in follower.keys() %}
                {%if key not in ["followeeUsername", "followerUsername"]%}

                    <td class="centered-column">{{follower[key]}}</td>
                
                {%else%}

                    <td>{{follower[key]}}</td>

                {%endif%}
            {% endfor %}

            <td class="centered-column"><a href="followers_delete/{{follower.userRelationshipID}}">Delete</a></td>
        </tr>

        {% endfor %}
        
    <form id="addFollowers" action="/followers" method="POST">
        <tr>
        <td class="centered-column">New</td>
        <td>
            <select name="followeeID" required autofocus>
                <option value="" selected>Select User</option>
                
                {% for dictionary in userdata %}
        
                    <option value="{{dictionary['userID']}}">{{dictionary['username']}}</option>
        
                {% endfor %}
        
            </select>
        </td>
        <td colspan="2" style="background-color: #000;"></td>
        <td>
            <select name="followerID" required autofocus>
                <option value="" selected>Select Follower</option>
            
                {% for dictionary in userdata %}
                {%if dictionary['userID']%}
            
                    <option value="{{dictionary['userID']}}">{{dictionary['username']}}</option>

                {%endif%}
                {% endfor %}
            
            </select>
        </td>
        <td>
            <input type="date" 
                   name="followedSince" 
                   placeholder="" 
                   required 
                   />
        </td>

        <td colspan="2">
            <button id="addNewBtn" class="button-like-link" type="submit">New Relationship</button>
        </td>
        </tr>

    </form>

    </tbody>
    </table>

{% endblock %}