<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <title>Simple Social - {{ page_title }}</title>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <nav class="navbar navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Simple Social</a>
            </div>
            <ul class="nav navbar-nav">
                <li {% if page_title == 'Home'%}class="active"{% endif %}><a href="/">Home</a></li>
                <li {% if page_title == 'Users'%}class="active"{% endif %}><a href="/users">Users</a></li>
                <li {% if page_title == 'Posts'%}class="active"{% endif %}><a href="/posts">Posts</a></li>
                <li {% if page_title == 'Followers'%}class="active"{% endif %}><a href="/followers">Followers</a></li>
                <li><a href="/likes">Likes</a></li>
                <li><a href="/tags">Tags</a></li>
            </ul>
        </div>
    </nav>
    {# <nav>
    <ul>
        <a href="/">Home</a>
        <a href="/users">Users</a>
        <a href="/posts">Posts</a>
        <a href="/followers">Followers</a>
        <a href="/likes">Likes</a>
        <a href="/tags">Tags</a>
    </ul>
    </nav> #}

    <main>  
    
    {% block content %}
    <h4>Use Navigation links to manage tables</h4>
    {% endblock %}

    </main>

    <footer>
    <p>
        &copy; 2024 Marina Hampton, Zareeb Lorenzana, &#38; Skyler Santos
    </p>
    </footer>
</body>
</html>