{% extends "main.jinja2"%}
{% block content %}

<h4>Manage Posts</h4>
    
    <table class="minimalist">
    <thead>
        <tr>
            {% for key in posts[0].keys() %}

                <th>{{key}}</th>

            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}

        <tr>

            {% for key in post.keys() %}
                {% if key == "postBody"%}

                    <td>{{post[key]}}</td>

                {% else %}

                    <td class="centered-column">{{post[key]}}</td>

                {% endif %}
            {% endfor %}

            <td class="centered-column"><a href="posts_edit/{{post.postID}}">Edit</a></td>
            <td class="centered-column"><a href="posts_delete/{{post.postID}}">Delete</a></td>
        </tr>

        {% endfor %}
        
    <form id="addPosts" action="/posts" method="POST">
        <tr>
        <td class="centered-column">New</td>
        <td>
            <select name="userID" required autofocus>
                <option value="" selected>Select User</option>
                
                {% for dict in userdata %}

                    <option value="{{dict['userID']}}">{{dict['userID-username']}}</option>

                {% endfor %}

            </select>

        </td>
        <td>
            <input type="date" 
                   name="postDate" 
                   placeholder="" 
                   required
                   />
        </td>
        <td>
            <textarea class="text-input-table" type="text" name="postBody" placeholder="Type here"></textarea>
        </td>
        <td colspan="2">
            <button id="addNewBtn" class="button-like-link" type="submit">Create Post</button>
        </td>
        </tr>
    </form>

    </tbody>
    </table>

{% endblock %}