{% extends "main.jinja2"%}
{% block content %}

<h4>Manage Tags</h4>

<table class="table">
    <thead>
        <tr>

            {% for key in postsHasTags[0].keys() %}

                {% if key == "tag" %}

                    <th>{{key}}</th>

                {% else %}

                    <th class="centered-column">{{key}}</th>

                {% endif %}

            {% endfor %}

            <th class="centered-column" colspan="2"><a class="reset-db" href="/reset">Reset Database</a></th>
            
        </tr>
    </thead>
    <tbody>
        {% for entry in postsHasTags %}

        <tr>

            {% for key in entry.keys() %}

                {%if key == "tag"%}

                    <td>{{entry[key]}}</td>
                
                {% elif key == "postID"%}

                    <td class="centered-column"><a href="/posts/#{{entry[key]}}">{{entry[key]}}</a></td>
                
                {%else%}

                    <td class="centered-column">{{entry[key]}}</td>

                {%endif%}

            {% endfor %}

            <td class="centered-column"><a href="tags_edit/{{entry.postTagID}}">Edit</a></td>
            <td class="centered-column"><a href="tags_delete/{{entry.postTagID}}">Delete</a></td>
            
        </tr>

        {% endfor %}

        <form id="addTags" action="/tags" method="POST">
            <tr>
                <td class="centered-column">New</td>
                <td></td>
                <td>
                    <select name="tagID" required autofocus>
                        <option value="" selected>Select Tag ID</option>

                        {% for entry in postsHasTags %}

                        <option value="{{entry.tagID}}">{{entry.tag}}</option>

                        {% endfor %}

                    </select>
                </td>
                <td>
                    <select name="postID" required autofocus>
                        <option value="" selected>Select Post ID</option>

                        {% for entry in postsHasTags %}

                        <option value="{{entry.postID}}">{{entry.postID}}</option>

                        {% endfor %}

                    </select>
                </td>
                <td>
                    <input type="date" name="dateLiked" max="{{current_date}}" placeholder="" required />
                </td>

                <td colspan="2">
                    <button id="addNewBtn" class="button-like-link" type="submit">Like Post</button>
                </td>
            </tr>

        </form>

    </tbody>
</table>

<table class="table">
    <thead>
        <tr>

            {% for key in tags[0].keys() %}

            {% if key == "tag" %}

            <th>{{key}}</th>

            {% else %}

            <th class="centered-column">{{key}}</th>

            {% endif %}

            {% endfor %}

            <th class="centered-column" colspan="2"><a class="reset-db" href="/reset">Reset Database</a></th>

        </tr>
    </thead>
    <tbody>
        {% for tag in tags %}

        <tr>

            {% for key in tag.keys() %}

            {%if key in ["tag"]%}

            <td>{{tag[key]}}</td>

            {%else%}

            <td class="centered-column">{{tag[key]}}</td>

            {%endif%}

            {% endfor %}

            <td class="centered-column"><a href="tags_delete/{{tag.likeID}}">Delete</a></td>

        </tr>

        {% endfor %}

        <form id="addTags" action="/tags" method="POST">
            <tr>
                <td class="centered-column">New</td>
                <td>
                    <select name="postID" required autofocus>
                        <option value="" selected>Select Post ID</option>

                        {% for post in posts %}

                        <option value="{{post.postID}}">{{post.postID}}</option>

                        {% endfor %}

                    </select>
                </td>
                <td></td>
                <td>
                    <select name="likedByUserID" required autofocus>
                        <option value="" selected>Select User</option>

                        {% for user in users %}

                        <option value="{{user.userID}}">{{user.username}}</option>

                        {% endfor %}

                    </select>
                </td>
                <td>
                    <input type="date" name="dateLiked" max="{{current_date}}" placeholder="" required />
                </td>

                <td colspan="2">
                    <button id="addNewBtn" class="button-like-link" type="submit">Like Post</button>
                </td>
            </tr>

        </form>

    </tbody>
</table>

{% endblock %}