{% extends "main.jinja2"%}
{% block content %}

<h4>Manage Tags</h4>

<table class="table">
    <thead>
        <tr>

            {% for key in tags[0].keys() %}
                {% if key == "tag" %}

                    <th>{{key}}</th>

                {% else %}

                    <th class="centered-column">{{key}}</th>

                {% endif %}
            {% endfor %}

            <th class="centered-column"><a class="reset-db" href="/reset">Reset Database</a></th>

        </tr>
    </thead>
    <tbody>
        {% for tag in tags %}

        <tr>

            {% for key in tag.keys() %}

                {%if key in ["tag"]%}

                    <td>{{tag[key]}}</td>

                {%else%}

                    <td class="centered-column">{{tag[key]}}</td>

                {%endif%}

            {% endfor %}

            <td class="centered-column"><a href="tags_delete/{{tag.tagID}}">Delete</a></td>

        </tr>

        {% endfor %}

        <form id="addTags" action="/tags" method="POST">
            <tr>
                <td class="centered-column">New</td>
                <td>
                    <input type="text" name="tag" placeholder="New tag" required />
                </td>

                <td>
                    <button id="addNewBtn" class="button-like-link" type="submit">Create Tag</button>
                </td>
            </tr>

        </form>

    </tbody>
</table>

{% endblock %}