{% extends "main.jinja2"%}

{% block content %}
    <h4>Manage Users:</h4>
    <form id="addUser" action="/users" method="POST">
    <table class="minimalist">
    <thead>
        <tr>
            {% for key in Users[0].keys() %}
                <th>{{ key }}</th>
            {% endfor %}
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for user in Users %}
        <tr>
            {% for key in user.keys() %}
                {% if key == "userID" or key == "signupDate" or key == "phoneNumber"%}
                    <td class="centered-column">{{user[key]}}</td>
                {% else %}
                    <td>{{user[key]}}</td>
                {% endif %}
            {% endfor %}
            <td class="centered-column"><a href="users_edit/{{user.userID}}">Edit</a></td>
            <td class="centered-column"><a href="delete_users/{{user.userID}}">Delete</a></td>
        </tr>

        {% endfor %}
    
        <tr>
        <td class="centered-column">New</td>
        <td><input type="text" name="username" placeholder="Username"></td>
        <td><input type="text" name="firstName" placeholder="First Name"></td>
        <td><input type="text" name="lastName" placeholder="Last Name"></td>
        <td><input type="email" name="email" placeholder="Email"></td>
        <td><input type="text" name="phoneNumber" placeholder="Phone Number"></td>
        <td><input type="date" name="signupDate" value=""></td>
        <td colspan="2"><button id="addUserBtn" type="submit">Add User</button></td>
        </tr>

    </tbody>
    </table>
    </form>
    

{% endblock %}