{% extends "main.jinja2"%}

{% block content%}
    <form id="addUser" action="/users" method="POST">
    <table class="minimalist">
    <thead>
        <tr>
            {% for key in Users[0].keys() %}
                <th>{{ key }}</th>
            {% endfor %}
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        {% for user in Users %}
        <tr>
            {% for key in user.keys() %}
                <td>{{user[key]}}</td>
            {% endfor %}
            <td><a href="#">Edit</a></td>
            <td><a href="#">Delete</a></td>
        </tr>

        {% endfor %}
        <tr>
        <td></td>
        <td><input type="text" name="username" placeholder="Username"></td>
        <td><input type="text" name="firstName" placeholder="First Name"></td>
        <td><input type="text" name="lastName" placeholder="Last Name"></td>
        <td><input type="email" name="email" placeholder="Email"></td>
        <td><input type="text" name="phoneNumber" placeholder="Phone Number"></td>
        <td><input type="date" name="signupDate" value=""></td>
        <td colspan="2"><button id="addUserBtn" type="submit">Add User</button></td>
        </tr>
    </tbody>
    </table>
    </form>    

{% endblock %}

