{% extends "main.jinja2"%}

{% block content %}
<h4>Edit Users:</h4>
    <form id="editUser" action="/users_edit/{{ data[0].userID }}" method="POST">
    <table class="minimalist">
    <thead>
        <tr>
            {% for key in data[0].keys() %}
                <th>{{ key }}</th>
            {% endfor %}
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for user in data %}
        <tr>
            {% for key in user.keys() %}
                {% if key == "userID" or key == "signupDate" or key == "phoneNumber"%}
                    <td class="centered-column">{{user[key]}}</td>
                {% else %}
                    <td contenteditable="false">{{user[key]}}</td>
                {% endif %}
            {% endfor %}
            <td></td>
        </tr>

        {% endfor %}
        
        <tr>
        <td><input type="hidden" name="userID" value="{{ data[0].userID }}"></td>
        <td><input type="text" name="username" value="{{ data[0].username }}"></td>
        <td><input type="text" name="firstName" value="{{ data[0].firstName }}"></td>
        <td><input type="text" name="lastName" value="{{ data[0].lastName }}"></td>
        <td><input type="email" name="email" value="{{ data[0].email }}"></td>
        <td><input type="text" name="phoneNumber" value="{{ data[0].phoneNumber }}"></td>
        <td><input type="date" name="signupDate" value=""></td>
        <td><button id="editUserBtn" type="submit">Edit User</button></td>
        </tr>

    </tbody>
    </table>
    </form>

{% endblock %}